@media (min-width: 768px) {
    .container-fluid {
        margin-left: 14rem;
        margin-right: 14rem;
        margin-top: 15px;
    }

    .card-skills {
        width: 65.5%;
    }

    .nav-link {
        color: #fff !important;
    }

    form {
        width: 82%;
    }

}

@media (max-width: 768px) {
    .home {
        overflow: hidden;
        position: relative;
        background-image: none !important;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 100px 0;
        animation: backgroundSlideIn 2s ease forwards;
        opacity: 0;
        -webkit-animation: backgroundSlideIn 2s ease forwards;
    }

    .navbar.scrolled-navbar.dark .navbar-brand {
        color: #fff !important;
    }

    .nav-item .nav-link.active {
        display: block !important;
        width: 100% !important;
        background-color: #fcc435;
        color: #fff !important;
        border-radius: 0;
        /* Hapus border-radius untuk tampilan penuh */
        padding-left: 4rem;
        /* Sesuaikan padding sesuai keinginan */
        padding-right: 4rem;
        /* Sesuaikan padding sesuai keinginan */
        text-align: center;
        /* Opsional, untuk menempatkan teks di tengah */
    }

    .navbar.scrolled-navbar .nav-link:hover {
        color: #fff !important;
        padding-left: 4rem;
        padding-right: 4rem;
        background-color: #fcc435 !important;
    }

    .image-effect {
        transition: transform 0.3s ease, filter 0.3s ease;
        height: 200px !important;
    }

    .image-effect:hover {
        filter: grayscale(100%);
        transform: scale(1.02);
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -o-transform: scale(1.02);
    }

    .image-effect-big {
        transition: transform 0.3s ease, filter 0.3s ease;
        height: 400px !important;
        -webkit-transition: transform 0.3s ease, filter 0.3s ease;
        -moz-transition: transform 0.3s ease, filter 0.3s ease;
        -ms-transition: transform 0.3s ease, filter 0.3s ease;
        -o-transition: transform 0.3s ease, filter 0.3s ease;
    }

    .image-effect-big:hover {
        filter: grayscale(100%);
        transform: scale(1.02);
    }

    .card-skills {
        width: 100%;
    }

    .span-brand-n {
        color: #fcc435 !important;
    }

    .span-brand-n.dark-mode {
        color: #fcc435 !important;
    }

    .img-portofolio {
        height: auto;
    }

    .about-section {
        opacity: 1;
        transform: translateX(0);
    }

    .row-home {
        margin-top: 0 !important;
    }

    .container-fluid {
        margin-left: 24px;
        margin-right: 24px;
    }

    .navbar-brand {
        color: #000 !important;
        transition: color 0.3s ease;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -ms-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
    }

    .dark-mode .navbar-brand {
        color: #fff !important;
    }

    .navbar.dark {
        transition: background-color 1s ease, padding 0.3s ease;
        padding-bottom: 1rem;
        background-color: rgba(17, 17, 17, 0.5) !important;
        /* Angka terakhir 0.8 mengatur transparansi */
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        -webkit-transition: background-color 1s ease, padding 0.3s ease;
        -moz-transition: background-color 1s ease, padding 0.3s ease;
        -ms-transition: background-color 1s ease, padding 0.3s ease;
        -o-transition: background-color 1s ease, padding 0.3s ease;
    }

    .navbar.scrolled-navbar {
        transition: background-color 2s ease;
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(15px);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        -webkit-transition: background-color 2s ease;
        -moz-transition: background-color 2s ease;
        -ms-transition: background-color 2s ease;
        -o-transition: background-color 2s ease;
    }

    .navbar {
        transition: background-color 2s ease;
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(15px);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        -webkit-transition: background-color 2s ease;
        -moz-transition: background-color 2s ease;
        -ms-transition: background-color 2s ease;
        -o-transition: background-color 2s ease;
    }

    /* Mengubah warna garis pada ikon hamburger menjadi putih */
.navbar-toggler-icon.dark {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}



}